[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
#start = "python app.py"
start = "fastapi dev app.py"
